<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 item">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact Us
                      </h6>
                      <p><i class="fas fa-home me-3"></i> <small>6 Ripley Terrance, Durban, SA</small></p>
                      <p>
                        <i class="fas fa-envelope me-2"></i> <small> creativelizard.info@gmail.com</small>
                      </p>
                      <p><i class="fab fa-whatsapp me-3"></i> +27 73 307 7209</p>
                </div>
                <div class="col item social mb-4">
                    <a

                        style="background-color: #3b5998;"
                        href="https://web.facebook.com/CreativeLizard-101966428884449/"
                        role="button"
                        target="_blank"
                        ><i class="fab text-white fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
                    <a

                        style="background-color: #55acee;"
                        href="https://twitter.com/LizardCreative"
                        role="button"
                        target="_blank"
                        ><i class="fab text-white fa-twitter"></i
                    ></a>
                    <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="https://www.instagram.com/creativelizards/"
                    role="button"
                    target="_blank"
                    ><i class="fab text-white fa-instagram"></i
                  ></a>
                </div>
            </div>
            <p class="copyright">Copyright: CreativeLizard (PTY) LTD © 2021</p>
        </div>
    </footer>
</div>